.App {
  text-align: center;
}


/* Reset default margin and padding for better consistency */
body, h1, h2, p, ul {
  color: #dd0f0f;
  margin: 0;
  padding: 0;
}

/* Apply a background color to the entire body */
body {
  background-color: #000000;
  font-family: 'Arial', sans-serif;
}


/*============================= Style the navigation bar ==============================*/
.navigationBar {
  background-color: #333;
  padding: 5px;
  text-align: center;
}

/* Style the navigation buttons */
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Change button color on hover */
.navbar a:hover {
  background-color: #555;
}

/* Add a border to the active button */
.navbar a.active {
  border: 2px solid #fff;
}

/* Center the buttons horizontally */
.navbar-center {
  display: flex;
  justify-content: center;
}

/* Optional: Add a subtle box-shadow for depth */
.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*=====================================================================================*/

/*============================= Style the character builder ==============================*/

.character-builder {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns */
  gap: 3px; /* Adjust the gap between grid items */
  padding: 10px;
  justify-content: center;
}

.attributes-grid,
.stats-grid,
.items-grid {
  border: 1px solid rgb(207, 201, 202);
  background-color: #1a1a1a;
  height: 60vh;
  width: 20vw;
  text-align: left;
  padding: 1vh;
  justify-content: space-between; /* Align items along the row axis */
  align-items: flex-start; /* Align items along the column axis */
  text-align: justify;
}

.dropdown {
  margin-bottom: 1vh;
}

.genderDropdown {
  margin-bottom: 1vh;
  border-bottom: 1px solid rgb(207, 201, 202);
  padding-bottom: 1vh;
}


label {
  display:inline;
  margin-bottom: 5px;
  color: #d10909; /* White text color */
  font-size: 1em;
}

select {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  border: 1px solid #555; /* Dark border */
}

button {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  margin-left: 1vw;
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  border: 1px solid #555; /* Dark border */
}

.characterClass {
  margin-left: 1vw;
}

.characterGender {
  margin-left: 0.5vw;
}

.buildLevel {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  margin-left: 1vw;
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  border: 1px solid #555; /* Dark border */
}

/* Add a subtle animation on hover for a Dark Souls touch */
select:hover,
button:hover {
  border-color: #d10909;
}


/*========================================================================================*/

/*============================= Style the bonfire ==============================*/



/*==============================================================================*/