.App {
  text-align: center;
}


/* Reset default margin and padding for better consistency */
body, h1, h2, p, ul {
  color: #dd0f0f;
  margin: 0;
  padding: 0;
}

/* Apply a background color to the entire body */
body {
  background-color: #000000;
  font-family: 'Arial', sans-serif;
}


/*============================= Style the navigation bar ==============================*/
.navigationBar {
  background-color: #333;
  padding: 5px;
  text-align: center;
}

/* Style the navigation buttons */
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Change button color on hover */
.navbar a:hover {
  background-color: #555;
}

/* Add a border to the active button */
.navbar a.active {
  border: 2px solid #fff;
}

/* Center the buttons horizontally */
.navbar-center {
  display: flex;
  justify-content: center;
}

/* Optional: Add a subtle box-shadow for depth */
.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*=====================================================================================*/

/*============================= Style the character builder ==============================*/

.character-builder {
  display: flex;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 3px;
  padding: 10px;
  justify-content: center;
}


.attributes-grid,
.stats-grid,
.items-grid {
  border: 1px solid rgb(207, 201, 202);
  background-color: #1a1a1a;
  height: 60vh;
  width: 20%;
  text-align: left;
  padding: 1vh;
  justify-content: space-between;
  align-items: flex-start; 
  text-align: justify;
}

/* for smaller screens */
@media screen and (max-width: 1900px) { /* Adjust breakpoint as needed */

  .attributes-grid,
  .stats-grid,
  .items-grid {
    width: 100%; /* Adjust max-width for smaller screens */
    height: 115vh;
    
  }
  
}


.dropdown {
  margin-bottom: 1vh;
}

label {
  display:inline;
  margin-bottom: 5px;
  color: #d10909; 
  font-size: 1em;
}

select {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  background-color: #333; 
  color: #fff; 
  border: 1px solid #555;
}

button {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  margin-left: 1vw;
  background-color: #333; 
  color: #fff; 
  border: 1px solid #555; 
}

/*=====================================================================================*/

/*============================= ATTRIBUTES-GRID STYLED HERE ==============================*/

.characterClass {
  margin-left: 1vw;
}

.characterGender {
  margin-left: 0.5vw;
}

.genderDropdown {
  margin-bottom: 1vh;
  border-bottom: 1px solid rgb(207, 201, 202);
  padding-bottom: 1vh;
}

.levelNumber {
  width: 25%;
  padding: 2px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 5px;
  margin-left: 43%;
  background-color: #333; 
  color: #ffffff; 
  border: 1px solid #555; 
}

.buildLevel {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.humanityNumber {
  width: 25%;
  padding: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 5px;
  margin-left: 40%;
  margin-right: 11%;
  background-color: #333; 
  color: #fff; 
  border: 1px solid #555; 
}

.attributesInfo {
  margin-top: 1vh;
  color: #dad386; 
  font-size: 0.8em;
}

.attribute-row {
  margin: 1vh 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.attribute-name {
  flex-basis: 30%; /* Adjust as needed */
  text-align: left;
  margin-right: 0.3vw;
}

.attribute-values, .current-value {
  flex-basis: 45%; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-value {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 10%; 
  padding: 3px;
  margin-left: 1.5vw; 
  border-radius: 5px;
  background-color: #333; 
  color: #fff; 
  border: 1px solid #555; 
  font-size: 1em; 
}

.attributeButton {
  flex-basis: 20%; /* Adjust as needed */
  width: auto; /* Let the width be determined by the content and container */
}

.covenantDropdown {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.soulsCounter {
  color: #f1e202;
  margin-top: 1vh;
  border-top: 1px solid rgb(207, 201, 202);
  padding-top: 1vh;
}

.soulsToNextLevel {
  padding-top: 1vh;
}

.minSoulsReq {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgb(207, 201, 202);
}

.soulsToNextLevelNumber {
  width: 25%;
  padding: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 5px;
  margin-left: 5vw;
  background-color: #333; 
  color: #fff; 
  border: 1px solid #555; 
}

.spentSoulsNumber {
  width: 25%;
  padding: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 5px;
  margin-left: 3.4vw;
  background-color: #333; 
  border: 1px solid #555; 
}

.characterCovenant {
  margin-left: 1vw;
  width: 8vw;
}

.init {
  padding-left: 24%;
}

.current {
  padding-left: 1.5vw;
}

/* Add a subtle animation on hover */
select:hover,
button:hover {
  border-color: #d10909;
}

/*=====================================================================================*/


/*============================= ITEM-GRID STYLED HERE ==============================*/

.armorInfo {
  color: #dad386; 
  font-size: 0.8em;
}



.armorDropdown {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  width: 100%; 
}

.dropdownLabel {
  width: 80px; /* Adjust based on longest label */
  text-align: left;
  margin-right: 10px; /* Space between label and dropdown */
}

.itemSelect {
  margin-left: 0.5vw;
  width: 10vw;
  flex-grow: 1;
}

.weaponInfo {
  border-top: 1px solid rgb(207, 201, 202);
  margin-top: 1vh;
  padding-top: 1vh;
  color: #dad386; 
  font-size: 0.8em;
}

.leftHand {
  float: left;
}

.rightHand {
  float: right;
}

.weaponsContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 2vh;
}

.leftHandWeapon, .rightHandWeapon {
  width: 100%;
}

.weaponSelect {
  width: 100%;
  
}

.weaponAttributes {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  height: 50%;
}

.weaponAttributes:hover {
  background-color: #40f18a2d;
}

/*========================================================================================*/

/*============================= Style the bonfire ==============================*/